.sign{


	background-color: grey;
	background-image: url(nibinpic/hack1.jpg);
	color: white;


}
.tdesign{
	border-width: 100%;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid white;
	background-color: inherit;
	font-size: 20px;
	color: white;
}
.button1 {

  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
.button1:hover{
 background-color: yellow;
}